@import './colors';

.NavBar-full {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    gap: 20px;
    
    &:hover {
      color: $purple;
    }

    & .socials > *{
      margin: 0 5px;
    }
  }
}

.NavBar-mobile {
  z-index: 100;
  width: 105vw;
  padding: 40px {
    right: 75px;
    left: 75px;
  };

  & ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px 20px;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    
    & > li:not(.socials) > a {
      display: inline-block;
      width: 180px;
      color: white;

      &:hover {
        color: $purple;
      }
    }

    & .socials {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      gap: 20px;

      & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        & > img {
          width: 47px;
          height: 47px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 530px) {
  .NavBar {

    & ul {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      & > li:not(.socials) > a {
        width: auto;
      }

      & .socials {
        justify-content: center;
      }
    }
  }
}